.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.noti-dot {
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: flex;
  position: absolute;
  border-radius: 3px;
  right: -8px;
}

.header__noti-dot {
  right: 16px;
  top: 50px;
}
